<IfModule mod_rewrite.c>
    RewriteEngine On

    # Externally redirect direct requests for .php files to clean URLs
    RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
    RewriteRule ^ /%1 [R=301,L]

    # Internally rewrite all non-file/non-directory requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^admin/?$ /home.php [R=302,L]
    RewriteCond %{REQUEST_URI} !^/css/ [NC]
    RewriteCond %{REQUEST_URI} !^/js/ [NC]
    RewriteCond %{REQUEST_URI} !^/assets/ [NC]
    RewriteCond %{REQUEST_URI} !^/api\.php$
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
<FilesMatch \.php$>
    SetHandler application/x-httpd-php
</FilesMatch>
